body {
  background-color: #194b7f;
}

.main-container-middle {
                display: table;
                padding: 5px;
                margin-bottom: 0;
                color: #ffffff !important;
                background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(0, 0, 0) 0%, rgb(10, 7, 9) 90% );
                border: 16px solid #530800;
                border-radius: 25px;
                border-image: url(../img/border.svg) 45% 49% repeat;
                width: 100%;
                font-family: Poppins,sans-serif;
            }
			
.container {
    max-width: 980px;
}

.jackpot {
    font-size: 30px;
}

.jackpot p {
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
}

h3.jackpot-title {
    text-transform: uppercase;
    font-weight: 800;
    color: #ffe600;
    background: -webkit-linear-gradient(#f6ffa7 , #d9c327 56%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 2px;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}



.jackpot-icon {
    position: absolute;
    left: -45px;
    right: -45px;
    z-index: 999;
    top: 6px;
}

.main-container-four {
    border-radius: 5px;
    overflow: hidden;
    float: left;
    width: 100%;
}

.navbar-form {
    margin: 0 auto;
    padding: 0;
    border: none;
}

.form-group.col-lg-6.col-md-6.col-sm-6.float-left {}

.form-group {
    margin-bottom: 5px;
    padding: 5px;
}

.loginForm {
    background: linear-gradient( rgb(253, 218, 4) 0%, rgb(253, 218, 4) 90% );
    width: 100%;
    float: left;
    border-radius: 5px;
    margin-right: -15px;
	border: 16px solid #530800;
    border-radius: 25px;
    border-image: url(../img/border.svg) 45% 49% repeat;
}

.right {
     float: right; 
}

.navbar-right {
    margin-right: 0;
}

#myInverseNavbar2 {
    padding: 0;
}

a.logo {
    float: left;
}

.btn-daftar {
    background: radial-gradient( circle 134px at 38.5% 0%, rgb(53, 39, 39) 0%, rgb(106, 66, 66) 87% );
    border: none;
    color: #ffffff;
    font-family: Poppins;
    font-weight: bold;
	font-size: 22px;
}

.btn-login {
    background: radial-gradient( circle 134px at 38.5% 0%, rgb(53, 39, 39) 0%, rgb(106, 66, 66) 87% );
    border: none;
    color: #ffffff;
    font-family: Poppins;
    font-weight: bold;
	font-size: 22px;
}

.main-container-mid {
  display: table;
  padding: 5px;
  margin-bottom: 0;
  color: #ffffff !important;
  border-radius: 5px;
  width: 100%;
  font-family: Poppins,sans-serif;
}

span.icon {
    float: left;
    font-size: 5rem;
    padding: 0px;
    width: 25%;
}

.daftar {
    width: 100%;
}

p.daftar-text {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

@-webkit-keyframes Gradient {
	0%
	{
		background-position:0 50%
	}
	
	50%
	{
		background-position:100% 50%
	}
	
	100%
	{
		background-position:0 50%
	}
}

@keyframes Gradient {
	0%
	{
		background-position:0 50%
	}
	
	50%
	{
		background-position:100% 50%
	}
	
	100%
	{
		background-position:0 50%
	}
}

.copyright {
    float: left;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    opacity: 0.8;
}

.footer {
    /* background: #1d1d26; */
}

div#texts {
    color: #ffffff;
}

.text-white {color:#fff;text-align: center;}

.main-footer{
	display: table;
    padding: 5px;
    margin-bottom: 0;
    color: #ffffff !important;
    width: 100%;
    font-family: Poppins,sans-serif;
	border: 16px solid #530800;
    border-radius: 25px;
    border-image: url(../img/border.svg) 45% 49% repeat;
}